.btn {
    text-align: center;
    font-size: 14px;
    line-height: 32px;
    padding: 0 10px 0 10px;
    text-transform: uppercase;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    cursor: pointer;
    font-family: 'Aller', sans-serif;
    transition: all 0.3s ease-in;
    background-color: #1162a4;
    color: white;
}

.btn:hover {
    background-color: #BD0006FF;
    color: white;
}

button.btn {
    border: none;
}